{% extends "base.html" %}
{% block content %}
<h1>Besucherzahlen</h1>
<table class="table table-striped">
    <tbody>
    <tr class="table-primary"><td>Registriert</td><td>{{ registriert }}</td></tr>
    <tr class="table-secondary"><td>Aktuell auf dem Gel&auml;nde (inkl. Crew / Bands)</td><td>{{ anwesend }}</td></tr>
    <tr class="table-{% if anwesend_gast < 800 %}success{% elif anwesend_gast < 1000 %}warning{% else %}danger{% endif %}"><td>Anzahl G&auml;ste / Maximum</td><td>{{ anwesend_gast }} / {{ 1000 - reserviert }}</td></tr>
    <tr class="table-info"><td>Reservierungen</td><td>{{ reserviert }}</td></tr>
    <tr class="table-{% if anwesend_gast + reserviert < 900 %}success{% elif anwesend_gast + reserviert < 1000 %}warning{% else %}danger{% endif %}"><td>Obergrenze (G&auml;ste + Reservierungen) / Maximum</td><td>{{ anwesend_gast + reserviert }} / 1000</td></tr>
    <tr><td>Abwesend (gegangen oder reserviert)</td><td>{{ abwesend }}</td></tr>
    </tbody>
</table>
{% endblock %}

{% block morecontent %}
<h2>Aufgeschl&uuml;sselt nach Status:</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Letzte Aktion</th>
            <th>Anzahl</th>
        </tr>
    </thead>
    <tbody>
{% for anzahl, zustand, status in counts %}
    <tr>
    <td>{{ status.decode() }}</td>
    <td>{{ zustand.decode() }}</td>
    <td>{{ anzahl }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
