{% extends "base.html" %}
{% block content %}
<h1>Besucherzahlen</h1>
<table class="table table-striped">
    <tbody>
    <tr class="table-primary"><td>Registriert</td><td>{{ registriert }}</td></tr>
    <tr class="table-success"><td>Anwesend</td><td>{{ anwesend }}</td></tr>
    <tr class="table-info"><td>Reserviert</td><td>{{ reserviert }}</td></tr>
    <tr class="table-danger"><td>Anwesend + Reserviert</td><td>{{ anwesend + reserviert }}</td></tr>
    <tr><td>Abwesend</td><td>{{ abwesend }}</td></tr>
    </tbody>
</table>
{% endblock %}

{% block morecontent %}
<h2>Aufgeschl&uuml;sselt nach Status:</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Letzte Aktion</th>
            <th>Anzahl</th>
        </tr>
    </thead>
    <tbody>
{% for anzahl, zustand, status in counts %}
    <tr>
    <td>{{ status.decode() }}</td>
    <td>{{ zustand.decode() }}</td>
    <td>{{ anzahl }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
