{%extends "base.html" %}
{% block stammdaten %}active{% endblock %}
{%block content %}
{% if message is defined and message != '' %}
<p>{{ message }}</p>
{% endif %}
<h1>Stammdatenverwaltung</h1>
<p class="lead"></p>
<form class="form-inline my-2 my-lg-0">
<ul style="list-style-type:none;">
<li>
<input class="form-control mr-sm-2" type="number" placeholder="ID" aria-label="ID" name="besucher_id" maxlength="5" size="5" value="{{ id }}">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/stammdaten" formmethod="get">laden</button>
</li>
<li>
<p></p>
<input class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="Name" size="25" maxlength="45" name="name" value="{{ name }}" onkeydown="return event.key != 'Enter';">
<input class="form-control mr-sm-2" type="text" placeholder="Adresse (Strasse, Hausnr.)" aria-label="Adresse 1"  maxlength="45" name="adresse1" size="25" value="{{ adresse1 }}" onkeydown="return event.key != 'Enter';">
</li>
<li>
<input class="form-control mr-sm-2" type="text" placeholder="PLZ" aria-label="PLZ" maxlength="5" name="plz" size="5" value="{{ plz }}" onkeydown="return event.key != 'Enter';">
<input class="form-control mr-sm-2" type="text" placeholder="Adresse (Ort, Land)" aria-label="Adresse 2" maxlength="45" name="adresse2" size="45" value="{{ adresse2 }}" onkeydown="return event.key != 'Enter';">
</li>
<li>
<input class="form-control mr-sm-2" type="text" placeholder="Telefon" aria-label="Telefon" maxlength="20" size="15" name="telefon" value="{{ telefon }}" onkeydown="return event.key != 'Enter';">
<input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" maxlength="45" size="35" name="email" value="{{ email }}" onkeydown="return event.key != 'Enter';">
</li>
<li>
<input class="form-control mr-sm-2" type="radio" aria-label="Gast" name="status" value="gast" {% if status == "gast" or status is not defined %}checked{% endif %}>Gast&nbsp;&nbsp
<input class="form-control mr-sm-2" type="radio" aria-label="Band" name="status" value="band" {% if status == "band" %}checked{% endif %}>Band&nbsp;&nbsp;
<input class="form-control mr-sm-2" type="radio" aria-label="Crew" name="status" value="crew" {% if status == "crew" %}checked{% endif %}>Crew&nbsp;&nbsp;
</li>
<li>
<input class="form-control mr-sm-2" type="checkbox" aria-label="Corona Warn App" name="coronawarn" value="1" {% if coronawarn == 1 %}checked{% endif %}> Corona Warn App?
</li>
<li>
<input class="form-control mr-sm-2" type="radio" aria-label="kommt" name="zustand" value="kommt" {% if zustand == "kommt" %}checked{% endif %}>Anwesend&nbsp;&nbsp
<input class="form-control mr-sm-2" type="radio" aria-label="geht" name="zustand" value="geht" {% if zustand == "geht" %}checked{% endif %}>Abwesend&nbsp;&nbsp;
<input class="form-control mr-sm-2" type="radio" aria-label="reserviert" name="zustand" value="reserviert" {% if zustand == "reserviert" or zustand is not defined %}checked{% endif %}>Reservierung&nbsp;&nbsp;
</li>
<li>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/stammdaten" formmethod="post">speichern</button>
</li>
<ul>
</form>
{%endblock %}
